Behringer LS/
Movie BEQs/Reports/Peak Spectrums/
Movie BEQs/Test/
Movie BEQs/Behringer LS/
TV BEQs/Band of Brothers (2001) DTS-HD MA 5.1/Reports/Peak Spectrums
TV BEQs/Band of Brothers (2001) DTS-HD MA 5.1/Behringer LS/
TV BEQs/Braquo (2009)/Season 4/Reports/Peak Spectrums
TV BEQs/From the Earth to the Moon (1998) TrueHD 7.1/Reports/Peak Spectrums
TV BEQs/From the Earth to the Moon (1998) TrueHD 7.1/Behringer LS/
TV BEQs/Gallipoli (2015) DTS-HD MA 5.1
TV BEQs/The Pacific (2010) DTS-HD MA 5.1/Reports/Peak Spectrums
TV BEQs/The Pacific (2010) DTS-HD MA 5.1/Behringer LS/
TV BEQs/Generation Kill (2008) DTS-HD MA 5.1/Reports/Peak Spectrums
TV BEQs/Unknown Soldier (2018) TrueHD Atmos/Reports/Peak Spectrums
Flat with REW OUT11+2.xml
Flat exported.xml
