Movie BEQs/Reports/Peak Spectrums/
Movie BEQs/Test/
Movie BEQs/Behringer LS/
Movie BEQs/The Wolfman (2010) (Extended) BEQ DTS-HD MA 5.1 v1.xml
Movie BEQs/Flat with NX Crowson Filter Output 1.xml
Movie BEQs/flat output.xml
Crowson NX Output Filter.txt
